/* Global Variables */
:root {
    --first-color: #f78536;
    --second-color: #dfebed;
    --third-color: #497285;
    --fourth-color: #2b4450;
    --heading-1: 2.5rem;
    --heading-2: 2rem;
    --heading-3: 1.5rem;
    --default-font-size: 1rem;
    --header-bg: var(--fourth-color);
    --header-color: var(--second-color);
    --body-bg: var(--second-color);
    --body-color: #0a1920;
    --border-color: #c0c0ad;
    --footer-bg: var(--third-color);
    --footer-color: var(--second-color);
    --footer-padding-y: 20px;
    --container-max: 1230px;
    --container-padding-x: 16px;
    --btn-padding-x: 8px;
    --btn-padding-y: 24px;
    --input-padding-x: var(--btn-padding-x);
    --input-padding-y: var(--btn-padding-y);
    --card-bg: var(--first-color);
    --card-color: var(--second-color);
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: var(--default-font-size);
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {font: inherit}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

html, body {
    margin: 0;
    padding: 0;
    color: var(--body-color);
}

h1 {font-size: var(--heading-1)}
h2 {font-size: var(--heading-2)}
h3 {font-size: var(--heading-3)}

/* Main Structure */
.header-main {
    background-color: var(--header-bg);
    color: var(--header-color);
}
.body-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg);
}
.footer-main {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    padding-top: var(--footer-padding-y);
    padding-bottom: var(--footer-padding-y);
}

/* Containers */
.container-fluid {
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
}
.container-max {
    max-width: var(--container-max);
}
.container-main {
    max-width: var(--container-max);
    padding-left: var(--container-padding-x);
    padding-right: var(--container-padding-x);
    padding-top: 80px;
    padding-bottom: 128px;
    margin-left: auto;
    margin-right: auto;
}

/* Text alignment */
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}

/* Margin auto classes */
.ml-auto, .mx-auto {margin-left: auto}
.mr-auto, .mx-auto {margin-right: auto}
.mt-auto, .my-auto {margin-top: auto}
.mb-auto, .my-auto {margin-bottom: auto}

/* Color palette */
.first-color {background: var(--first-color)}	
.second-color {background: var(--second-color)}
.third-color {background: var(--third-color)}
.fourth-color {background: var(--fourth-color)}

/* General */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
button {
    outline: none;
    border: none;
    padding: var(--btn-padding-x) var(--btn-padding-y);
    background-color: var(--third-color);
    color: var(--second-color);
    transition: all .2s linear;
}
button:hover {
    background-color: var(--first-color);
    cursor: pointer;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 24px;
}
.book-card {
    background-color: var(--card-bg);
    padding: 24px;
    color: var(--card-color);
}

/* Modal Dialog */

dialog {
    top: calc(50% - 150px);
    transform: translateY(-50%);
    border: none;
    outline: none;
    min-height: 300px;
}
dialog::backdrop {
    background-color: rgb(0 0 0 / 25%);
    z-index: 10;
}

/* Form Fields */
.form-field {
    margin-bottom: 16px;
}
.checkbox-field {
    position: relative;
}
.checkbox-field label {
  padding-left: 25px;
  pointer-events: none;
}
.checkbox-field input {
  position: absolute;  
  left: -5px;
  top: -3px;
  width: 17px;
  height: 17px;
  opacity: 0;
}
.checkbox-field:before {
  position: absolute;  
  content: "";
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.checkbox-field:has(input:checked):before {
    background-color: var(--fourth-color);
}
.checkbox-field:has(input:checked):after {
    position: absolute;
    content: "";
    background-image: url("./checkmark.svg");
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    pointer-events: none;
}
input {
    padding: var(--input-padding-x) var(--input-padding-y);
    border: 1px solid var(--border-color);
    outline: none;
}
input:focus, .checkbox-field:has(input:focus):before {
    border: 1px solid var(--first-color);
    -webkit-box-shadow: 0 0 2px 2px var(--first-color);
    -moz-box-shadow: 0 0 2px 2px var(--first-color);
    box-shadow: 0 0 2px 2px var(--first-color);
}